// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  list-style: none;
}

p {
  padding: 20px;
}

a {
  text-decoration: none;
  padding: 2px;
  color: white;
  background-color: blue;
  border-radius: 4px;
  margin-top: 100px;
}
